body {
    background-color: #3EA520;
    text-align: center;
    font-family: "Inter", sans-serif;
}

/* --- Heading */
heading {
    text-align: center;
    font-size: 3rem;
}

#heading-logo {
    width: 100px;
    height: 100px;
}

/* --- Quiz layout */

.begin-screen {
    align-items: center;
    width: 100%;
}

.quiz-area {
    background-color: #209BA5;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: none;
}

.question-number-area {
    text-align: center;
}

#question-area {
    text-align: center;
}

.scores {
    padding: 2px;
    font-weight: bold;
}

.scores-area {
    display: none;
}

#score {
    padding: 5px;
}


#begin-button {
    font-size: 1.2em;
    
}
/* --- Media queries */

@media (min-width: 700px) {
    .quiz-area {
        max-width: 50%;
    }
}
